body {
    text-align: center;
    font-family: 'Seaweed Script', cursive;

   
}
canvas{
    display:none;
    margin: auto;
    margin-top: 59px;
    
}



h1 {
    font-size: 70px;
    font-weight: 900;
    /* font-family:fantasy; */
    
}
p{
    font-size: 25px;
    /* font-family:fantasy; */
    
}



.backPic{
    background-image: url(`./imgs/startScreen.png`);
    text-align: center;
    
}

.centred{
    
    background-position:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

#countdown{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.restart{

    /* background-position:center; */
    text-align: center;
    display:none;
    margin-top: 400px;
    /* font-family:fantasy;
    position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
}
