body {
    text-align: center;
}
canvas{
    display:none;
    margin: 0 auto;
}

h1 {
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
p{
    font-weight:900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.backPic{
    background-image: url(`./imgs/startScreen.png`);
    text-align: center;
    position: relative;
    
}

.centred{
    
    background-position:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
}

/* #countdown{

} */