body {
    text-align: center;
   
}
canvas{
    display:none;
    margin: auto;
    margin-top: 59px;
    
}



h1 {
    font-size: 48px;
    font-weight: 900;
    font-family:fantasy;
    
}
p{
    font-size: 20px;
    font-family:fantasy;
    
}



.backPic{
    background-image: url(`./imgs/startScreen.png`);
    text-align: center;
    /* position: relative; */
    
}

.centred{
    
    background-position:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

#countdown{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.restart{
    display:none;
    font-family:fantasy;
    
}